@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-gradient-alo {
      @apply bg-gradient-to-r from-violet-500 via-blue-500 to-sky-500;
    }
  
    .bg-gradient-alo-hover {
      @apply bg-gradient-to-r from-violet-500 via-blue-500 to-sky-500 hover:from-sky-500 hover:via-blue-500 hover:to-violet-500;
    }
  }
  
  body{
    font-family: "Lato", sans-serif;
  }

  .between-alo{
    display: flex;
    justify-content: space-between;
  }

  .row-alo{
    display: flex;
    flex-direction: row;
  }

  .center-alo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* hover submenu */
  /* a.wrap-menu:hover {
    background-color: rgb(255, 255, 255, 10%);
    border-radius: 8px;
  } */